@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.blue-title{
  color: blue;
}


.main-title{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 70px;
  text-align: center;
  color: rgb(255, 255, 255)
}

.tussentitels{
  font-family: 'Montserrat Alternates', serif;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255)
}

.plattetekst{
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: black
}

.background-head{
  background-color: rgb(240, 177, 41);
}

.grid-column-2-2{
  display: grid;
  grid-template-columns:
    repeat(2,50%);
}

.grid-column-3-3-3{
  display: grid;
  grid-template-columns:
    repeat(3,33.3%);
}

.oranje-box{
  background-color: rgb(252, 201, 129);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-instagram {
  background: rgb(245, 66, 227);
  color: white;
